footer.footer 
  .container 
    .footer-top
      .footer-column 
        a(href='index.html').footer-heading.footer-heading--logo Mogo 
        p.footer-desc.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident id esse explicabo ea asperiores quidem est labore nobis sit repellat dolorem maiores quo modi ratione molestiae dolorum, itaque tempora voluptatibus?
        p.footer-follower <strong>15k</strong> followers
        .footer-social
          span Follow Us: 
          .footer-social-list 
            a(href='#')
              i.footer-social-icon.fab.fa-facebook-f
            a(href='#')
              i.footer-social-icon.fab.fa-twitter
            a(href='#')
              i.footer-social-icon.fab.fa-instagram
            a(href='#')
              i.footer-social-icon.fab.fa-pinterest-p
            a(href='#')
              i.footer-social-icon.fab.fa-google-plus-g
            a(href='#')
              i.footer-social-icon.fab.fa-youtube
            a(href='#')
              i.footer-social-icon.fab.fa-dribbble
            a(href='#')
              i.footer-social-icon.fab.fa-tumblr
        form(action='javascript:void(0)').footer-form
          input.footer-form-input(type='email', placeholder='Your email')
          button.footer-form-btn Subscribe

      .footer-column 
        h3.footer-heading Blogs 
        a(href='#').footer-blog
          img.footer-blog-image(src='./images/img-blogs1.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text Jan 9 2016
        a(href='#').footer-blog
          img.footer-blog-image(src='./images/img-blogs2.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text Jan 9 2016
        a(href='#').footer-blog
          img.footer-blog-image(src='./images/img-blogs3.png')
          .footer-blog-info
            h4.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit.
            span.footer-blog-date.text Jan 9 2016

      .footer-column 
        h3.footer-heading Instagram
        .footer-gallery
          .footer-image
            img(src='https://i.picsum.photos/id/94/200/200.jpg?hmac=6A2OfXxXR04lSduBcURN4k0_3aiDGcJQjMpSwDmQevg')
          .footer-image
            img(src='https://i.picsum.photos/id/990/200/200.jpg?hmac=aKX7eTSZXBAWNV5wrvlgko5ESRbbvaAcbu6QmqEkXtE')
          .footer-image
            img(src='https://i.picsum.photos/id/316/200/200.jpg?hmac=f0i62VkjVy8OPLP77Xf7mdZa3UBNlTOXFm9WpDMOiiA')
          .footer-image
            img(src='https://i.picsum.photos/id/554/200/200.jpg?hmac=wvBDWVN6iXLUYv4DYpQ9fWSg_2y3dCYyzy4N_6H26pY')
          .footer-image
            img(src='https://i.picsum.photos/id/663/200/200.jpg?hmac=MzrpRFuFESictjAXjWDdc1tKVJQkRXcUjAqfOHgUiww')
          .footer-image
            img(src='https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI')
          .footer-image
            img(src='https://i.picsum.photos/id/499/200/200.jpg?hmac=6OuceXs-LrhY-PtwyqBs_bARD8YWZEj9XuZ_ZY894Wc')
          .footer-image
            img(src='https://i.picsum.photos/id/689/200/200.jpg?hmac=2KHWG2UlfLNAWC1jiBz-LQ7b-TMOB4bcW-FVvdQ_7a4')
          .footer-image
            img(src='https://i.picsum.photos/id/410/200/200.jpg?hmac=hVMLZXpDnTKOed7U0eNRwQvhs6LRl-g0XjEFRs4V3cU')
        a(href='#').footer-image-more.text View more photos
    .footer-bottom &copy; 2016 Mogo free PSD template by <span>Laaiq</span>