section.people 
  .container 
    +blockBox('Happy Clients','What people say')
    ul.people-list 
      +peopleItem(
        './images/img-people1.png',
        'Matthew Dix',
        'Graphic Desin',
        'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, illo quibusdam amet corrupti eveniet unde quam eos iste quaerat ab velit! Consequuntur error animi, incidunt at veritatis unde excepturi neque.'
      )
      +peopleItem(
        './images/img-people2.png',
        'Nick Karvounis',
        'Graphic Desin',
        'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, illo quibusdam amet corrupti eveniet unde quam eos iste quaerat ab velit! Consequuntur error animi, incidunt at veritatis unde excepturi neque.'
      )
      +peopleItem(
        './images/img-people3.png',
        'Jaelynn Castillo',
        'Graphic Desin',
        'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, illo quibusdam amet corrupti eveniet unde quam eos iste quaerat ab velit! Consequuntur error animi, incidunt at veritatis unde excepturi neque.'
      )
      +peopleItem(
        './images/img-people4.png',
        'Mike Petrucci',
        'Graphic Desin',
        'Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, illo quibusdam amet corrupti eveniet unde quam eos iste quaerat ab velit! Consequuntur error animi, incidunt at veritatis unde excepturi neque.'
      )
      