section.service 
	.container
		+blockBox(
			'We work with',
			'Amazing Services'
		)
		.service-wrapper
			.service-list
				+serviceItem(
					'../images/amazing_icon1.png',
					'Photography',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)
				+serviceItem(
					'../images/amazing_icon2.png',
					'Web Design',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)
				+serviceItem(
					'../images/amazing_icon3.png',
					'Creativity',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)
			
			.service-list
				+serviceItem(
					'../images/amazing_icon4.png',
					'SEO',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)
				+serviceItem(
					'../images/amazing_icon5.png',
					'HTML/CSS',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)
				+serviceItem(
					'../images/amazing_icon6.png',
					'Digital',
					'Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus inventore velit nihil officiis necessitatibus quas voluptatibus veniam'
				)