section.story 
	.container 
		+blockBox('Our stories', 'Latest Blog')
		ul.story-list 
			+storyItem(
				'./images/img-blog1.png',
				'Lorem ipsum dolor sit amet',
				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem illum, dicta consequatur mollitia, soluta eos placeat ad expedita explicabo id praesentium sed quibusdam laboriosam aliquam doloribus architecto! Nobis, ullam dolore.',
				'15',
				'June'
			)
			+storyItem(
				'./images/img-blog2.png',
				'Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor',
				'Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quidem laborum, tenetur laboriosam dolorem cumque harum necessitatibus adipisci est illo saepe repellat nemo, molestias earum id ipsam quae voluptas neque!',
				'14',
				'Jan'
			)
			+storyItem(
				'./images/img-blog3.png',
				'incididunt ut labore et dolore',
				'Lorem ipsum dolor sit amet consectetur adipisicing elit',
				'12',
				'Nov'
			)

section.map
	.container 
		.map-content 
			img.map-icon(src='./images/img-map-icon.png')
			h2.map-heading open map