section.quote.testimonial
  .container
    .quote-wrapper 
      +quoteItem('https://images.unsplash.com/photo-1637123998069-bc6c8a16ee5b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1171&q=80',
      true,
      'Joshua Earle')
      +quoteItem('https://images.unsplash.com/photo-1553272725-086100aecf5e?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=465&q=80',
      true,
      'Joshua Earle')
      +quoteItem('https://images.unsplash.com/photo-1582848890969-021f69006150?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80',
      true,
      'Joshua Earle')