section.wedo 
  .container 
    +blockBox(
      'Service',
      'What we do',
      'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe fugiat enim reiciendis animi magni laboriosam recusandae placeat, est perferendis repudiandae consequuntur possimus ullam ducimus porro repellat iste similique corrupti quas.'
    )
    .wedo-wrapper
      img.wedo-image(src='../images/img-wedo.png')
      .wedo-content
        +wedoItem(
          '../images/img-wedo-icon1.png',
          'Photography',
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum eum consequuntur itaque reprehenderit officia incidunt aperiam sunt optio repellendus, quis nulla est rem odio ea, provident aspernatur numquam! Amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nesciunt expedita! Dolore, soluta consequuntur odit id quia maxime sunt nisi velit aliquid obcaecati adipisci omnis deleniti doloribus repellat cum magni?',
          'wedo-item--active'
        )
        +wedoItem(
          './images/img-wedo-icon2.png',
          'Creativity',
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum eum consequuntur itaque reprehenderit officia incidunt aperiam sunt optio repellendus, quis nulla est rem odio ea, provident aspernatur numquam! Amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nesciunt expedita! Dolore, soluta consequuntur odit id quia maxime sunt nisi velit aliquid obcaecati adipisci omnis deleniti doloribus repellat cum magni?'
        )
        +wedoItem(
          './images/img-wedo-icon3.png',
          'Web design',
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam laborum eum consequuntur itaque reprehenderit officia incidunt aperiam sunt optio repellendus, quis nulla est rem odio ea, provident aspernatur numquam! Amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, nesciunt expedita! Dolore, soluta consequuntur odit id quia maxime sunt nisi velit aliquid obcaecati adipisci omnis deleniti doloribus repellat cum magni?'
        )
        