section.work
	.container 
		+blockBox(
			'What we do',
			'Some of our work',
			'Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, alias. Non, cumque consequuntur laborum necessitatibus eaque voluptatem eligendi tempora nobis, esse soluta velit rem ex praesentium? Mollitia ipsam porro recusandae!'
		)
		.work-grid
			+workItem('./images/img-work1.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
			+workItem('./images/img-work2.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
			+workItem('./images/img-work3.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
			+workItem('./images/img-work4.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
			+workItem('./images/img-work5.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor', 'work-item--full')
			+workItem('./images/img-work6.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
			+workItem('./images/img-work7.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- .work-list
	//- 	.work-column
	//- 		+workItem('./images/img-work1.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- 		+workItem('./images/img-work2.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- 	.work-column
	//- 		+workItem('./images/img-work3.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- 		+workItem('./images/img-work4.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- 	.work-column
	//- 		+workItem('./images/img-work5.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor', 'work-item--full')
	//- 	.work-column
	//- 		+workItem('./images/img-work6.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
	//- 		+workItem('./images/img-work7.png', 'fa fa-home', 'Creatively Designer', 'Lorem ipsum dolor')
		