.footer {
  &-top {
    padding: 7.5rem 0 7rem;
    @include flexbox($justify-content: space-between);
  }

  &-column {
    width: calc(35% - 2.5rem);

    &:first-child {
      width: calc(40% - 2.5rem);
    }

    &:last-child {
      width: calc(25% - 2.5rem);
    }
  }

  &-heading {
    text-transform: uppercase;
    font-weight: 500;
    height: 4rem;
    margin-bottom: 2rem;
    @include flexbox(center);

    &--logo {
      text-transform: none;
      font-size: 4.6rem;
      font-weight: bold;
      color: $gray-dark-color;
    }
  }

  &-desc {
    margin-top: 2rem;
    margin-bottom: 4.5rem;
  }

  &-follower {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid $gray-light-color;

    strong {
      font-weight: bold;
      font-size: 1.8rem;
    }
  }

  &-social {
    @include flexbox(center);
    margin-bottom: 3.5rem;

    &-icon {
      color: $third-color;
      margin-left: 1.5rem;
      font-size: 1.8rem;
    }
  }

  &-form {
    width: 100%;
    max-width: 38rem;
    @include flexbox;
    
    &-input {
      padding: 1.5rem;
      background-color: white;
      border: thin solid $gray-dark-color;
      border-right: 0;
      font-family: $secondary-font;
      font-size: 1.5rem;
      font-style: italic;
      width: 100%;
      border-radius: 0;
      line-height: normal; // fix safari
    }

    &-btn {
      color: white;
      text-transform: uppercase;
      padding: 1.5rem 3.5rem;
      background-color: $third-color;
      border-radius: 0;
      font-size: 1.4rem;
    }
  }

  &-blog {
    @include flexbox(center);
    margin-bottom: 3rem;

    &-image {
      @include size(12rem, 8rem);
      object-fit: cover;
    }

    &-info {
      padding-left: 2rem;
    }

    &-title {
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      line-height: 1.4;
      font-weight: 500;
      color: $title-color;
      @include textClamp(2);
    }

    &-date {
      font-style: italic;
    }
  }

  &-gallery {
    @include flexbox($wrap: wrap);
    margin-left: -0.2rem;
    margin-bottom: 1.6rem;
  }

  &-image {
    --flex-gap: 0.2rem;
    position: relative;
    height: 0;

    margin-left: var(--flex-gap);
    width: calc(100% / 3 - var(--flex-gap));

    padding-bottom: calc(100% / 3 - var(--flex-gap));
    margin-bottom: var(--flex-gap);

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include size(100%);
      object-fit: cover;
    }

    &-more {
      font-style: italic;
      color: $title-color;
      text-align: center;
      display: block;
    }
  }

  &-bottom {
    padding: 2rem 0;
    text-align: center;
    border-top: 2px solid $gray-light-color;

    span {
      color: $primary-color;
    }
  }

  @include maxWidth(767px) {

    &-follower {
      margin-bottom: 1.6rem;
      padding-bottom: 1.6rem;
      text-align: center;
    }

    &-social {
      flex-direction: column;

      &-list {
        margin-top: 2rem;
        margin-left: -1.6rem;
      }

      &-icon {
        font-size: 2.2rem;
        margin-left: 1.6rem;
      }
    }
  }

  @include maxWidth(1023px) {
    &-top {
      @include flexbox($direction: column-reverse,)
    }

    &-column {
      &:not(:nth-child(99)) {
        width: 100%;
        margin-bottom: 3rem;
      }

      &:first-child {
        margin-bottom: 0;
      }
    }
  }
}
