.story {
  padding: 10rem 0;
  background-color: white;

  &-list {
    @include flexbox(stretch, space-between)
  }

  &-item  {
    width: calc(100% / 3 - 2rem);
  }

  &-media {
    position: relative;
    margin-bottom: 2rem;
  }

  &-image {
    @include size(100%, 24rem);
    object-fit: cover;
  }

  &-date {
    padding: 1.5rem 2rem;
    background-color: $third-color;
    @include flexbox(center, center, column);
    position: absolute;
    bottom: 1rem;
    left: -1rem;
    z-index: 2;
    
    &-number {
      color: white;
      font-weight: bold;
      font-size: 3rem;
    }

    &-text {
      color: white;
      font-style: italic;
      font-weight: 300;
    }
  }

  &-title {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 2rem;
    line-height: 1.4;
    @include textClamp(1);
  }

  &-desc {
    height: 8rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid $gray-light-color;

    &-inner {
      @include textClamp(3);
    }
  }

  &-meta {
    @include flexbox(center);

    &-item {
      margin-right: 2rem;
    }

    &-icon {
      color: $third-color;
      margin-right: 0.5rem;
    }

    &-count {
      font-style: italic;
    }
  }

  @include maxWidth(1023px) {
    padding: 5rem 0;

    &-image {
      height: 14rem;
    }

    &-date {
      padding: 1rem 1.5rem;
    }

    &-title {
      font-size: 1.2rem;
    }

    &-desc {
      font-size: 1.3rem;
      height: 6.4rem;
    }
  }

  @include maxWidth(767px) {

    &-list {
      display: block;
    }

    &-item {
      width: 100%;
      margin-bottom: 3rem;
      padding: 0 1rem;
      
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-image {
      height: 20rem;
    }

    &-title {
      margin-bottom: 1rem;
    }

    &-desc {
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      height: auto;
    }
  }
}

.map {
  padding: 6rem 0;
  background: linear-gradient(to bottom, rgba(white, 0.9), rgba(white, 0.5)),
    url('../images/img-map.png') no-repeat center / cover;

  &-content {
    @include flexbox(center, center, column)
  }

  &-heading {
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    &::after {
      content: '';
      @include size(6.5rem, 0.4rem);
      background-color: $primary-color;
      @include absoluteCenter('x');
      bottom: 0;
    }
  }
}